{% load static %}
{% include "pay/header.html" with return_url=request.session.app_data.cancel_url %}

<div class="confirm">
    <div class="box center">
    <h2>Congratulations, your mobile subscription is almost ready!</h2>
    <h2><span>All you need to do now is pay your first instalment.</span></h2>
    </div>
    <div class="row">
        <div>
            <div class="shadow-box">
		<p>Name: <span class="capitalize">{{ app_data.first_name}} {{ app_data.last_name }}</span></p>
                <p>Email: <span>{{ app_data.email }}</span></p>
		<p>Cell: <span>{{ app_data.mobile }}</span></p>
		<p>Merchant: <span>{{ app_data.merchant_name }}</span></p>
		<p>Product value: <span>R {{ app_data.amount|floatformat }}</span></p>
                <p>Number of instalments: <span>{{ period }}</span></p>
                <p>Repayment date: <span>{{ billing_day }}</span></p>
            </div>
        </div>
        <div>
            <div class="shadow-box">
		<h2><span>Monthly Rental: </span> R {{ monthly_fee }}</h2>
            </div>
            <div class="shadow-box">
                <h2><span>To pay now: </span> R {{ monthly_fee }}</h2>
            </div>
	    <div class="box">
	    	<p>Please pay your first instalment now using your Visa or MasterCard.</p>
	    </div>
        </div>
    </div>
    <!-- { ammacom_initiate.payment_redirect } -->
    <form action="{% url 'rent_checkout' %}" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <p id="agree_error"></p>
        <div class="agree">
            <div class="dlay-checkbox">
                <input type="checkbox" id="pay_checkbox" name="pay_checkbox">
                <label for="pay_checkbox"></label>
            </div>
            <label for="pay_checkbox" class="policy">By ticking the checkbox, you are accepting the <button id="termsOpen">DLAY Terms and Conditions</button> and <button id="agreementOpen">Subscription Agreement.</button></label>
        </div>
        <div class="center">
            <input class="button" type="submit" value="pay now">
        </div>
    </form>
</div>
<div id="terms" style="display:none">
	<button id="termsClose">close</button>
	<object data="{% static 'html/terms.html' %}" style="width: 100vw;height: 100vh;"> 
    		Your browser doesn’t support the object tag. 
	</object>
</div>

<div id="agreement" style="display:none">
	<button id="agreementClose">close</button>
        <object data="{% static 'html/agreement.html' %}" style="width: 100vw;height: 100vh;">
                Your browser doesn’t support the object tag.
        </object>
</div>

<div id="loading">
	<img src="{% static 'images/Loading.gif' %}">
</div>
<script>
var termsLinkOpen = document.getElementById('termsOpen');
termsLinkOpen.onclick = toggleTerms;
var termsLinkClose = document.getElementById('termsClose');
termsLinkClose.onclick = toggleTerms; 
var agreementLinkOpen = document.getElementById('agreementOpen'); 
agreementLinkOpen.onclick = toggleAgreement;
var agreementLinkClose = document.getElementById('agreementClose');
agreementLinkClose.onclick = toggleAgreement;

function toggleTerms (e) {
    e.preventDefault();
    console.log("toggle terms");
    var div = document.getElementById('terms');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

function toggleAgreement (e) {
    e.preventDefault();
    console.log("toggle agreement");
    var div = document.getElementById('agreement');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

function validateForm(){
    var agree = document.getElementById("pay_checkbox").checked;
    if(!agree){
            document.getElementById("agree_error").innerHTML = "*Acknowladgment not accepted";
            return false;
        }else{
            document.getElementById("agree_error").innerHTML = "";
        }
	loading();
        return true;
    }

function loading(){
	document.getElementById("loading").style.display = "flex";
}

$(window).load(function(){
   // PAGE IS FULLY LOADED  
   // FADE OUT YOUR OVERLAYING DIV
   $('#loading').fadeOut();
});
</script>

{% include "pay/footer.html" %}
