{% load static %}
{% include "pay/header.html" with return_url=request.session.app_data.cancel_url %}
        <div class="alt content">
            <div class="content-form">
                <div class="form-group">
                    <img src="{% static '/images/success.svg' %}"> 
                    <div class="form error">
                        <h1>Oh... Yes!</h1>
                        <p class="error-page-message">{{ description }}</p>
			<h3><span class="purple">Approved amount </span>R {{ amount_limit }}</h3>
                        <a href="{{ request.session.app_data.cancel_url }}" class="button">Go back to shop</a> 
                    </div>
                </div>
            </div>
        </div>
{% include "pay/footer.html" %}
