{% load static %}
{% include "pay/header.html" with return_url=request.session.app_data.cancel_url %}

<h3 class="center purple">Please enter your card details</h3>
<div id="dlay-widget"></div>
<script async src="{{ url }}/server/pay/widget?dealId={{ ammacom_id }}"></script>
<div id="loading" style="display: flex">
        <img src="{% static 'images/Loading.gif' %}">
</div>
<script>
window.onload = function () {
        document.getElementById("loading").style.display = "none";
    }
</script>

{% include "pay/footer.html" %}
