{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
	{% if merchant_logo %}
	    <img class="logo" src="{{ merchant_logo }}">
	{% else %}
            <img class="logo" src="{% static '/images/dlay_logo.svg' %}">
	{% endif %}
            <a href="{{ return_url }}" class="button">Go back to shop</a>
        </header>
