{% load static %}
{% include "pay/header.html" with return_url=request.session.app_data.cancel_url %}
<div class="alt content">
    <div class="content-form">
        <h3><span class="purple">Please select your </span>instalment date</h3>
        <div class="form-group">
            <div class="form member">
                <form action="{% url 'confirm' %}" method="POST">
                    {% csrf_token %}
                    <div class="amounts">
                        <div>
                            <p>Deposit Due Today</p>
                            <h2>R {{ deposit }}</h2>
                        </div>
                        <div>
                            <p>Next Payment Date</p>
                            <select id="billing_day" name="billing_day">
                            </select>
                        </div>
			<div id="row">
                        <div>
                            <p>Monthly Payment</p>
                            <h2 class="purple">R {{ monthly }}</h2>
                        </div>
			<div>
                            <h2 class="purple">+</h2>
                        </div>
                        <div>
                            <p>Monthly Membership</p>
                            <h2 class="purple">R {{ membership }}</h2>
                        </div>
			<div>
                            <h2 class="purple">=</h2>
                        </div>
			<div>
                            <p>Monthly Total</p>
                            <h2 class="purple">R {{ total }}</h2>
                        </div>
			</div>
                    </div>
                    <input type="submit" value="Continue" class="button" href="{% url 'instalment' %}"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "pay/footer.html" %}
<script>
function getDaysInMonth(year, month) {
  return new Date(year, month, 0).getDate();
}

const date = new Date();
const currentYear = date.getFullYear();
const currentMonth = date.getMonth() + 1;

const daysInCurrentMonth = getDaysInMonth(currentYear, currentMonth);
console.log(daysInCurrentMonth);
for(let i = 1; i <= daysInCurrentMonth; i++){
var option = document.createElement("option");
option.text = i;
option.value = i;
var select = document.getElementById("billing_day");
select.appendChild(option);
}
</script>
